.dropdown-options {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 5px;
}

.dropdown-options:hover {
  color: rgb(255, 0, 0);
  border-radius: 10px;
}

.dropdown-background {
  background-color: #000000;
}
