body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #343a40;
  color: white;
  overflow-x: hidden;
}

.header-content {
  padding: 20px;
  text-align: center;
  background: #1a1a1a;
  font-size: 25px;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.movie-highlight {
  background-color: #222;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 60vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
  }
}

.movie-grid-container {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.movie-grid {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  scroll-behavior: smooth;
  transition: transform 300ms;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .movie-item {
    position: relative;
    width: 125px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .movie-title-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
    }

    &:hover .movie-title-overlay {
      opacity: 1;
    }
  }

  // .movie-item:hover {
  //   width: 170px;
  // }
}

.movie-grid-container:hover .movie-grid {
  overflow-x: scroll;
}

.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  z-index: 1051;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.white-background {
  margin-top: 3.5%;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-color: white;
}
