$header-color: #ff0000;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-brand {
  overflow: hidden;
}

.jh-navbar .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-version {
  font-size: 0.65em;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

/* =============================
        WilFilm Title
================================ */

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    margin-left: 8rem;
    img {
      width: 170px;
    }
  }
}

.brand-title {
  font-size: 2rem;
  margin-left: 10rem;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 5px;
  background-color: #020202;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

.navbar-color {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85),
    rgb(103, 35, 35, 0.85),
    rgb(103, 35, 35, 0.85),
    rgb(103, 35, 35, 0.85),
    rgba(0, 0, 0, 0.85)
  );
  z-index: 1000;
}

/* ==========================================================================
Button styles
========================================================================== */

.button-design {
  font-size: 20px;
  background-color: #ffffff;
  border: solid 0.08em #000000;
  color: rgb(255, 0, 0);
  border-radius: 10px;
  padding: 5px;
}

.button-design:hover {
  background-color: #000000;
  border: solid 0.08em #ffffff;
  color: rgb(255, 0, 0);
  border-radius: 10px;
}

.home-title {
  color: rgb(255, 252, 252);
  font-size: 20px;
  padding: 5px;
}

.home-title:hover {
  color: rgb(255, 0, 0);
  border-radius: 10px;
}
