.modal-content {
  margin-top: 3%;
  height: 700px;
  width: 400px;
  background-image: linear-gradient(
    to right,
    #672323c9,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(103, 35, 35, 0.789)
  );
  position: relative;
  transform: translate(10%, 20%);
  // top: 50%;
  // left: 20%;
  border-radius: 30px;
  backface-visibility: visible;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.white {
  font-weight: bold;
  color: azure;
}

.hipster {
  margin-left: -20px;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  // animation: change forwards 98s infinite ease-in-out;
  background-image: url('/content/images/BackgroundEx.avif');
}

.hip {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  // animation: change forwards 100s infinite ease-in-out;
  background-image: url('/content/images/BackgroundEx.avif');
}

@keyframes change {
  0% {
    background: url('/content/images/starwars.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  10% {
    background: url('/content/images/dune.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  20% {
    background: url('/content/images/mandalorian.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  30% {
    background: url('/content/images/deadPool.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  40% {
    background: url('/content/images/batman.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  50% {
    background: url('/content/images/itClown.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  60% {
    background: url('/content/images/barbieMovie.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  70% {
    background: url('/content/images/lionKing.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  80% {
    background: url('/content/images/scream.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  90% {
    background: url('/content/images/GodzillavsKong.avif');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  // 97% {
  //   background: url('/content/images/wonka.jpeg');
  //   background-size: 100vw 100vh;
  //   background-repeat: no-repeat;
  // }
  100% {
    background: url('/content/images/starwars.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
}
